.content-single {
    background-color: $color_grey_light;
    display: flex;
    align-items: end;
    justify-content: start;
    width: 100%;
}

.single-left {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    margin-left: 50px;
}

.single-right {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    margin-right: 50px;
}

.content-interaction {
    height: 118px;
    border-bottom: 1px $color_black_strong;
}

.single-contact {
    border-top: 1px $color_black_strong;
}