.content-single {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 1148px;
    width: 100%;
}

.single-left {
    display: flex;
    text-align: start;
    flex-direction: column;
    width: 50%;
    margin-right: 10px;
    height: auto;
    border-bottom: 2px solid $color_black_strong;
}

.single-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 10px;
    height: 844px;
    overflow: hidden;
}

.single-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.content-interaction {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    min-height: 118px;
}

.content-interaction.interest {
    border-bottom: 2px solid $color_black_strong;
}

.single-left-bottom {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 10px;
    width: 50%;
    p {
        font-family: $font_desk_poppins;
    }
    }

.single-right-bottom {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    .arrow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        cursor: pointer;
    }
}

.content-presentation {
    display: flex;
    align-items: center;
    justify-content: start;
}

.half-content {
    width: 50%;
}

/* Responsive */

@media all and (max-width: #{$breakpoint__large_phone}) {

    .single {
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 100%;
            width: 100%;
        }

    .content-single {
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
        align-items: center;
        flex-direction: column;
        }
        
    .single-left {
        width: 265px;
        margin-right: 0px;
        height: auto;
        order: 2;
        border-bottom: 0;
    }

    .single-right {
        width: 100%;
        margin-left: 0px;
        height: auto;
        order: 1;
    }

    .single-thumbnail {
        width: 265px;
        height: 397px;
        display: flex;
    }

    .single-left-bottom {
        justify-content: center;
        flex-direction: column;
        margin-right: 0;
        width: 100%;
        margin-top: 20px;
        border-top: 2px solid $color_black_strong;
    }

    .mini {
        margin-top: 20px;
        border-top: none;
    }

    .content-interaction {
        justify-content: center;
        flex-direction: column;
    }

    .single-right-bottom {
        justify-content: center;
        width: 100%;
    }

    .single-right-bottom.none {
            display: none;
            width: 0;
    }

    .half-content {
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 265px;
    }

    button {
        margin-bottom: 20px;
    }

        .content-presentation {
            justify-content: center;
            margin-top: 20px;
        }

}