/* Le fond de la lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 990;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Activer le défilement si nécessaire */
    background-color: rgb(0, 0, 0);
    /* Couleur de repli */
    background-color: rgba(0, 0, 0, 0.8);
    animation: lightboxIn .5s;
    transition: .3s;
}

.lightbox.fadeOut {
    opacity: 0;
}

.lightbox_next,
.lightbox_prev {
    border: none;
    background: url(../assets/images/arrow.svg) center center / 50px 100% no-repeat;
    width: 10%;
    height: 50%;
    position: fixed;
    top: 30%;
    right: 0;
    margin-top: -16px;
    text-indent: -3000px;
    z-index: 991;
}

.lightbox_prev {
    right: auto;
    left: 0;
    transform: rotate(180deg);
}

.lightbox_close {
    width: 30px;
    height: 30px;
    border: none;
    background: url(../assets/images/cross.svg) center center / 100% 100% no-repeat transparent;
    position: fixed;
    text-indent: -3000px;
    top: 100px;
    right: 50px;
    z-index: 992;
}

.lightbox button {
    cursor: pointer;
    transition: opacity .3;
    text-indent: -3000px;
}

.lightbox button:hover {
    opacity: 1;
    background-color: transparent;
}

.lightbox_container img {
    margin-top: 80px;
    max-width: 90%;
    height: auto;
    border: 5px solid $color_black_strong;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: lightboxIn .5s;
}

.lightbox_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 100vh; /* 100% de la hauteur de l'écran, permet de centrer. */
}

#info-lightbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    z-index: 998;

    h3 {
        color: $color_grey_light;
        margin-left: 1em;
        margin-right: 1em;
    }
}

.lightbox_loader {
    width: 50px;
    height: 50px;
    opacity: .5;
    background: url(../assets/images/loader.svg) center center / 100% 100% no-repeat;
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive */

@media all and (max-width: #{$breakpoint__large_phone}) {

    .lightbox_container img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        user-zoom: zoom; /* Autoriser le zoom utilisateur sur l'image */
        touch-action: auto; /* Spécifier le comportement par défaut des gestes tactiles */
        }

    .lightbox_container {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

        .lightbox_next,
        .lightbox_prev {
            display: none;
        }

}