.portfolio-container {
    max-width: 1148px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    flex: 0 0 calc(50% - 10px);
    /* 2 éléments par ligne avec un espace de 10px entre eux */
    margin-bottom: 20px;

    a {
        text-decoration: none;
    }
}

.post-content {
    position: relative;
    overflow: hidden;
    flex: 1 1 564px;
    height: 495px;

    img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#full-screen {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: start;
    justify-content: end;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 500ms ease-in-out, transform ease-in-out;

    img {
        cursor: pointer;
        width: 60px;
        height: auto;
    }
}

#full-screen.fadeInTop {
    opacity: 1;
    transform: translateY(-495px);
}

#info-single {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: row;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 500ms ease-in-out, transform ease-in-out;

    h3 {
        color: $color_grey_light;
        margin-left: 1em;
        margin-right: 1em;
    }
}

#info-single.fadeInTop {
    opacity: 1;
    transform: translateY(-495px);
}

.post-content::before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.post-content:hover::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: url('../assets/images/icon-eye.png');
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

#full-screen::before {
    position: absolute;
    display: flex;
    align-items:start;
    justify-content: end;
    transition: background-color 0.5s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

#full-screen:hover::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

@media all and (max-width: #{$breakpoint__large_phone}) {

    .portfolio-container {
        max-width: 318px;
    }

    .portfolio-item {
        flex: 0 0 calc(100% - 0px);
        /* 1 élément par ligne */
        margin-bottom: 0;
    }

    .post-content {
        height: 279px;
        margin-top: 20px;
    }

    #info-single.fadeInTop {
        transform: translateY(-279px);
    }

    #full-screen.fadeInTop {
        transform: translateY(-279px);
    }
}