/* Le conteneur doit être positionné par rapport : */
.custom-select {
    position: relative;
    width: 50%;
    margin: 10px;
    font-family: $font_desk_main;
    font-size: 14px;
}

/* _________________________________________________ */
/* Filtres des photos */
.select-post {
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    padding: 8px;
    margin: 10px;
    width: 100%;
    background-position: calc(100% - 40px) center;
    cursor: pointer;

    &:hover {
        border: 0px solid $color_red_strong;
    }
}

.select-post option {
    box-sizing: content-box;
    padding: 8px;
    margin: 10px;
    color: $color_black_strong;
    font-family: $font_desk_main;
    font-size: 14px;
}

li.active-result .result-selected .hidden-option {
    display: none;
}

button {
    border: none;
    padding: 10px 20px;
    background-color: $color_grey_strong;
    color: $color_black_strong;
    cursor: pointer;
    height: 50px;
    width: 100%;
}

.btn {
    width: 25%;
}

button:hover {
    background-color: $color_red_average;
    color: $color_grey_light;
}

.loading-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



@media all and (max-width: #{$breakpoint__large_phone}) {

    .custom-select {
        width: 70%;
    }

    .select-post {
        padding: 10px;
        margin: 5px;
        width: 100%;
    }

    button {
        width: 100%;
        margin-top: 20px;
    }

    .btn {
        width: 80%;
    }

}