.motaphoto-footer {
    background-color: $color_grey_light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 2px solid $color_black_strong;
    height: 40px;
}

.footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-footer ul {
    margin: 0;
    padding: 0;
}

.nav-footer li {
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
}