.motaphoto-footer {
    background-color: $color_grey_light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    border-top: 2px solid $color_black_strong;
    height: 40px;
}

.footer-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1148px;
    width: 100%;
}

.nav-footer ul {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.nav-footer li {
    display: inline-block;
    width: 20em;
    display: flex;
    justify-content: center;
}

@media all and (max-width: #{$breakpoint__large_phone}) {

.motaphoto-footer {
        height: 150px;
    }

.nav-footer {
    max-width: 375px;
}

.nav-footer ul {
    flex-direction: column;
    margin-top: 20px;
}

.nav-footer li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1em;
}

}