.header {
    background-color: $color_grey_light;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.motaphoto-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    margin-left: 50px;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    margin-right: 50px;
}

.nathalie-mota {
    width: 60%;
}