main {
    position: relative;
}

.header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.motaphoto-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    margin-left: 50px;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    margin-right: 50px;
}

.nathalie-mota {
    width: 60%;
}

/* Page d'accueil */

main {
    position: relative;
}

.first-img {
    background-image: url("../assets/images/first-img.jpeg");
    height: 962px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-img h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px $color_grey_light;
}