$color_red_strong: #E00000;
$color_black_strong: #000000;
$color_grey_strong: #D8D8D8;

$color_red_average: #FE5858;
$color_black_average: #313144;
$color_grey_average:#E5E5E5;

$color_red_light: #FFD6D6;
$color_black_light: #C4C4C4;
$color_grey_light: #ffffff;

$color_body: #E5E5E5;