/* Mes polices desktop */

$font_desk_main: 'SpaceMono-Regular';
$font_desk_h1: 'SpaceMono-BoldItalic';
$font_desk_h2: 'SpaceMono-Italic';
$font_desk_h3: 'SpaceMono-Regular';
$font_desk_poppins: 'Poppins-Medium';