/* Mes Google fonts locales */

@font-face {
    font-family: 'SpaceMono-Bold';
    src: url('fonts/SpaceMono-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono-BoldItalic';
    src: url('fonts/SpaceMono-BoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono-Italic';
    src: url('fonts/SpaceMono-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono-Regular';
    src: url('fonts/SpaceMono-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Mes polices desktop */

$font_desk_main: 'SpaceMono-Regular';
$font_desk_h1: 'SpaceMono-BoldItalic';
$font_desk_h2: 'SpaceMono-Italic';
$font_desk_h3: 'SpaceMono-Regular';
